<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Project Configure -->
    <add key="SECRET" value="AAAAB3NzaC1yc2EAAAADAQABAAACAQDpU82OwTXc2QN22Q46so57Etan9q964ISKxsEZ2tt7F2S8lhDJbW50sZqOvPO78494r6GawnrxbYGnW/WwjNWM7l/Si0Rwl1JidBmVDvo0K5vjhXJdpiI6il0aysSiaXmlLw7qg73PSVJUUTPF8S71IsHf4RCBwGuDZV1mni8NEiWMxUHZvnihZMWoDUurhJ8TioRacTbeIJC3by2MJRPltVY8o+CqpFJbaWVBTy9qrd6TJ/F48RTxJ3Jp/EJIyFyWCDlw6bEdYnMb/bKm89OqadPTP4Vb4S4YCin8MJoXxPqze3pxNps5qMAhvjrF9Ofur3Xm56oBFqruuhmHHM5IeV0Y9A9Rq//4bRXJw9PedCUFdU6GClGXiZKzMcStkJbjseU9vpKRUVVT29lCQyDUm99U8EHuxY3JutRGjKgxnYPr/V1mmBwy5PVVXMVDwtkTEUOV+Ell0HMUW+63SBeGbFr8MQwytLSXHpk7sltWOEa6p7qkdt6F1aWRCWgkmuK+sR5zMfnW6IcLL1win7qu7nFUn3sx3K2CPyDIBO3C9UVa504Cz70unHE9rCpvJ5jXnoSXzNFzND6fILsJbUNIpAOcQt+p4ClcjZsZCb71MGNEFR5AYc/s/Ldyj73iEpIJWhysMLzcithOmbJofRz3iom6pbW/O57yMSYoTL0ANQ==" />
    <add key="ISTEST" value="Y" />
    <add key="DEV_SQLConnection" value="Data Source=w2sqldho126;Initial Catalog=AutheServiceDB;User Id=[DEV_SQL_USERID];Password=[DEV_SQL_PASSWD];" />
    <add key="DEV_AS400Connection" value="Data Source=LHBDEV.LHB.NET;User Id=[DEV_AS400_USERID];Password=[DEV_AS400_PASSWD];" />
    <add key="PRD_SQLConnection" value="Data Source=w2sqlpho156;Initial Catalog=AutheServiceDB;User Id=[PRD_SQL_USERID];Password=[PRD_SQL_PASSWD];" />
    <add key="PRD_AS400Connection" value="Data Source=LHBPRD.LHB.NET;User Id=[PRD_AS400_USERID];Password=[PRD_AS400_PASSWD];" />
    <add key="DEV_SQL_USERID" value="REVWMDAx" />
    <add key="DEV_SQL_PASSWD" value="UEBzc3cwcmQ=" />
    <add key="DEV_AS400_USERID" value="T1BFUl9E" />
    <add key="DEV_AS400_PASSWD" value="T1BFUl9E" />
    <add key="PRD_SQL_USERID" value="REVWMDAx" />
    <add key="PRD_SQL_PASSWD" value="UEBzc3cwcmQ=" />
    <add key="PRD_AS400_USERID" value="T1BFUl9E" />
    <add key="PRD_AS400_PASSWD" value="T1BFUl9E" />
    <add key="LHBDDATPAR" value="LHBDDATPAR" />
    <add key="LHBDDATMAS" value="LHBDDATMAS" />
    <add key="LHBPDATPAR" value="LHBPDATPAR" />
    <add key="LHBPDATMAS" value="LHBPDATMAS" />
    <add key="BOTOccuKey" value="BPBTYP" />
    <add key="BOTOccuValue" value="BPBDSC" />
    <add key="BOTOccuFile" value="BTPARB" />
    <add key="BusinessTypeKey" value="BPBTYP" />
    <add key="BusinessTypeValue" value="BPBDSC" />
    <add key="BusinessTypeFile" value="BTPARB" />
    <add key="DocTypeKey" value="CFIDCD" />
    <add key="DocTypeValue" value="CFIDSC" />
    <add key="DocTypeFile" value="CFIDDF" />
    <add key="EduLevelKey" value="CFZEDL" />
    <add key="EduLevelValue" value="CFZEDD" />
    <add key="EduLevelFile" value="CFZPEL" />
    <add key="OccRiskKey" value="CFBUST" />
    <add key="OccRiskValue" value="CFSINA" />
    <add key="OccRiskFile" value="CFSICC" />
    <add key="PrefixNameKey" value="CFTTTP" />
    <add key="PrefixNameValue" value="CFTTDS" />
    <add key="PrefixNameFile" value="CFPARE" />
    <add key="StatusKey" value="CP3UCD" />
    <add key="StatusValue" value="CP3DSC" />
    <add key="StatusFile" value="CFPAR3" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
<!--ProjectGuid: 30E695E6-FBD9-48AE-85C0-1196D4F30C82-->